<div class="row first-div">
	<app-morty [imgSrc]="'assets/diving-morty.png'" [quote]="'Ready as I\'ll ever be, Rick!'"></app-morty>
</div>
<div class="row second-div">
	<app-morty [imgSrc]="'assets/cop-morty.png'" [quote]="'Morties are raised to be side kicks; without a side to kick, they just start kickin\''"></app-morty>
</div>
<div class="row third-div">
    <app-morty [imgSrc]="'assets/reporter-morty.png'" [quote]="'I guess I should have had more faith'"></app-morty>
</div>
<div class="row fourth-div">
    <app-morty [imgSrc]="'assets/lizard-morty.png'" [quote]="'I guess I wish I had something cooler than this dumb surfer neckless'"></app-morty>
</div>
<div class="row fifth-div">
    <app-morty [imgSrc]="'assets/evil-morty.png'" [quote]="'Seems like a good time for a drink, and a cold calculated speech with sinisiter overtones'"></app-morty>
</div>
