div img {
	height: 100%;
	min-height: 200px;
	min-width: 200px;
	width: 15%;
}

.first-div {
	background-color: #FF6A00;
}

.second-div {
	background-color: #CDF800;
}

.third-div {
	background-color: #D50078;
}

.fourth-div {
	background-color: #104BB8;
}

.fifth-div {
	background-color: #B900B1;
}

p {
	padding-top: 8vh;
	font-size: 5vh;
	float: right;
}