<div class="row first-div">
	<img class="col-lg-3" src="assets/diving-morty.png">
	<p class="col-lg-9">Ready as I'll ever be, Rick!</p>
</div>
<div class="row second-div">
	<img class="col-lg-3" src="assets/cop-morty.png">
	<p class="col-lg-9">Morties are raised to be side kicks; without a side to kick, they just start kickin'</p>
</div>
<div class="row third-div">
	<img class="col-lg-3" src="assets/reporter-morty.png">
	<p class="col-lg-9">I guess I should have had more faith</p>
</div>
<div class="row fourth-div">
	<img class="col-lg-3" src="assets/lizard-morty.png">
	<p class="col-lg-9">I guess I wish I had something cooler than this dumb surfer neckless</p>
</div>
<div class="row fifth-div">
	<img class="col-lg-3" src="assets/evil-morty.png">
	<p class="col-lg-9">Seems like a good time for a drink, and a cold calculated speech with sinisiter overtones</p>
</div>