.first-div {
	background-color: #FF6A00;
}

.second-div {
	background-color: #CDF800;
}

.third-div {
	background-color: #D50078;
}

.fourth-div {
	background-color: #104BB8;
}

.fifth-div {
	background-color: #B900B1;
}
